*
{
    box-sizing: border-box;
}

body
{
    background-color: #313131;
    font-family: 'Poiret One', cursive;

}
.team
{
    overflow: auto;
}

.member
{
    background-color: tomato;
    width: 25%;
    position: relative;
    border: solid 5px #fff;
    text-align: center;
    color: #fff;
    overflow: hidden;
    float: left;
 
  
}
.member img
{
    width: 100%;
    transition: transform 1s 1s;
}

.member-caption
{
    background-color: rgba(42,63,85,0.7);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s , transform 1s;
  
}
.member:hover .member-caption
{
    opacity: 1;
    transform: rotate(360deg);
}
.member:hover img
{
    transform: scale(1.2,1.2);
}

.member-caption h2
{
    background-color: #2A3F55;
    padding: 10px;
    margin: 0;
    position: relative;
    left: 120%;
    transition: left 1s 2s;
}
.member-caption p
{
    font-size: 20px;
    padding: 10px 25px;
    position: relative;
    left: 120%;
    transition: left 1s 2.5s;

}
.member:hover  .member-caption h2
{
    left: 0;
}
.member:hover  .member-caption p
{
    left: 0;
}